{
  "root": true,
  "plugins": ["formatjs"],
  "extends": ["next", "plugin:prettier/recommended"],
  "parserOptions": {
    "project": "./tsconfig.json",
    "requireConfigFile": false,
    "ecmaVersion": 12,
    "ecmaFeatures": {
      "jsx": true,
    },
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "mocha": true,
  },
  "rules": {},
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"],
      },
    },
    "react": {
      "version": "detect",
    },
  },
  "overrides": [
    {
      "files": ["*.js", "*.jsx", "*.ts", "*.tsx"],
      "processor": "@graphql-eslint/graphql",
    },
    {
      "files": ["*.graphql"],
      "parser": "@graphql-eslint/eslint-plugin",
      "plugins": ["@graphql-eslint"],
      "rules": {
        "@graphql-eslint/naming-convention": "off",
        "@graphql-eslint/selection-set-depth": "off",
      },
      "extends": "plugin:@graphql-eslint/operations-recommended",
    },
  ],
}
