@tailwind base;
@tailwind components;
@tailwind utilities;

.nav--main {
  display: none;
}

@media (min-width: 768px) {
  .nav--main {
    display: flex;
  }

  .nav--main__item {
    position: relative;
  }

  .nav--main__item[data-in-hover-path='true'] {
    position: relative;
  }
}

.nav--main__mega {
  display: flex;
  position: absolute;
  /* left: -1.5em; */
  /* right: -1.5em; */
  /* top: 42px; */
  /* width: calc(100% + 3em); */
  visibility: hidden;
  /* opacity: 0; */
  overflow: hidden;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.15);
  transition-delay: 150ms;
}

.nav--main__item[data-in-hover-path='true'] + .nav--main__mega {
  visibility: visible;
  opacity: 1;
  overflow: visible;
  /* background-color: white; */
}

.mega-link {
  display: block;
  padding-top: 0.25em;
  padding-right: 1.75em;
  padding-bottom: 0.25em;
  padding-left: 1.5em;
  cursor: pointer;
  font-size: 1rem;
  margin-bottom: 0.25em;
  text-transform: uppercase;
}

.mega-link.has-arrow {
  position: relative;
}

.mega-link.has-arrow::after {
  position: absolute;
  right: 1em;
  top: calc(1em - 5px);
  content: '';
  background-image: url(/static/img/icon-streamline/arrow-button-right.svg);
  display: block;
  width: 8px;
  height: 8px;
  background-repeat: no-repeat;
  opacity: 0.27;
}

.mega-link:first-child {
  margin-top: 1em;
}

.mega-link:last-child {
  margin-bottom: 1em;
}

.mega-link:hover,
.mega-link[data-in-hover-path='true'],
.mega-link:focus {
  text-decoration: underline;
}

.mega-link:hover.has-arrow::after {
  opacity: 1;
}

@media (min-width: 1024px) {
  .mega-link {
    font-size: 1.125rem;
    letter-spacing: 0.75px;
    line-height: 1.5;
    font-weight: 500;
  }
}

.mobile-menu-holder[data-is-open='true'] {
  visibility: visible;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1080;
}

.mobile-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  visibility: hidden;
  background-color: rgba(255, 255, 255, 0.4);
  transform: translate3d(-300px, 0, 0);
  transition-property: transform, visibility, background-color;
  transition-timing-function: cubic-bezier(0.61, 0.01, 0.42, 1);
  transition-duration: 0.36s;
  z-index: 1070;
}

.mobile-menu-holder[data-is-open='true'] .mobile-menu {
  background-color: rgba(255, 255, 255, 1);
  visibility: visible;
  transform: translate3d(0, 0, 0);
  width: 300px;
  height: 100%;
  opacity: 1;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.15);
}

.mobile-menu-close {
  visibility: hidden;
  height: 0;
  opacity: 0.5;
  transition: opacity 0.36s cubic-bezier(0.61, 0.01, 0.42, 1);
}

.mobile-menu-holder[data-is-open='true'] .mobile-menu-close {
  overflow: hidden;
  visibility: visible;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 1;
  backdrop-filter: blur(2px);
}

.language-select select {
  border: 0;
  background: none;
  padding: 0.25rem 1rem;
  appearance: none;
  margin-left: 0.25em;
  border: 1px solid #64748b;
  border-radius: 0.25rem;
}

.language-select::after {
  right: 0;
  top: 0.375rem;
}
.select-wrap {
  display: inline-block;
  position: relative;
}

.select-wrap::after {
  position: absolute;
  right: 0;
  top: 25%;
  content: '';
  display: block;
  width: 9px;
  height: 9px;
  background-repeat: no-repeat;
  background-image: url(/static/img/icon-streamline/arrow-button-down.svg);
  pointer-events: none;
}

.select-wrap select {
  width: 100% !important;
  line-height: 1.15;
}
